<h1>Welcome to My Umbrella Project</h1>

<ul>
  <li><a href="#">Vue Counter</a></li>
  <li><a href="/phoenix">Phoenix Counter</a></li>
  <li><a href="/liveview">LiveView Counter</a></li>
  <li><a href="/livesvelte">LiveSvelte Counter</a></li>
  <!-- Add more links for other counter applications -->
</ul>
